body {
    margin: 0;
    padding: 0;
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
}

.overlay-section {
    position: relative;
    height: 100vh;
}

.overlay-section::before {
    content: ''; /* Empty string, no generated content */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.5);
    pointer-events: none;
    z-index: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Set z-index higher than ::before */
}


.container {
    width: 100%; 
    height: 100%; 
    background: white; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 117px; 
    display: flex;
}


.cards-container {
    display: inline;
    margin-left: 140px;
}

.card-title {
    width: 333px; 
    text-align: center; 
    color: #425466; 
    font-size: 24px; 
    font-family: Montserrat; 
    font-weight: 600; 
    word-wrap: break-word
}

.card-description {
width: 315px; 
text-align: center; 
color: #425466; 
font-size: 18px; 
font-family: Montserrat; 
font-weight: 400; 
line-height: 27px; 
word-wrap: break-word
}

@media (max-width: 768px) {
    .card {
        display: flex;

        width: 120px;
    }

   .cards-container{
    display: flex;
    flex-wrap: wrap;
   }

    .card img{
        width: 80px;
        height: 60px;
    }

    .card-title {
        width: 150px;
        font-size: 20px;
    }

    .card-1-title{
        width: 150px;
        font-size: 20px;
    }

    .card-description {
        width: 120px;
        font-size: 16px;
    }

    .card-1-description {
        width: 120px;
        font-size: 16px;
    }

    .container {
        width: 10px;
        padding: 16px; /* Adjust padding for smaller screens */
        gap: 10px; /* Adjust gap for smaller screens */
    }
}



  /* Custom button styles */
  .custom-button {
    background-color: #425466;
    color: white;
    padding: 10px 20px;
    border-radius: 999px; /* Large value for a circular button */
    text-decoration: none; /* Remove default link underline */
    display: inline-block;
    transition: background-color 0.3s ease;
}

.custom-button-2 {
    background-color: white;
    color: #425466;
    padding: 10px 20px;
    border: 2px solid #425466;
    border-radius: 20px; /* Large value for a circular button */
    text-decoration: none; /* Remove default link underline */
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
    background-color: #A5B3C6; /* Light shade for hover */
}


.scrollable-container {
    max-height: 200px; /* Set your desired max height */
    overflow-y: auto;
}
  


.left-right-divider {
    border-right: 1px solid #e2e8f0; /* Adjust color as needed */
}